.AdArrange {
    list-style: none;
    display: grid;
    justify-content: start;
    grid-gap: 3px;
    
}

#FirstAdSpot {
    background-color: rgb(25, 156, 165);
    line-height: 50px; 
    min-height: 50px;
    
}

#SecondAdSpot {
    background-color: rgb(25, 156, 165);
    line-height: 50px; 
    min-height: 50px;
}

#ThirdAdSpot {
    background-color: rgb(37, 182, 240);
    line-height: 50px; 
    min-height: 50px;
}

        /*Tekstille omat ominaisuudet, jotta sen saa keskelle laatikkoa korkeussuunnassa.*/
.AdArrange span {
    padding-inline: 10px 10px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
