.NavbarItems {
    background-color: rgb(14, 14, 78);
    height: 80px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

.navbar-logo {
    color: #fff;
    justify-self: start;
    padding-left: 20px;
    cursor: default;
}

.fa-react {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 15px;
    list-style: none;
    text-align: left;
    justify-content: start;
    margin-right: 2rem;
    color: #fff;
    justify-self: start;
    cursor: default;
}

.leftSide {
    color: #fff;
    display: flex;
    justify-content: center;
    margin-right: 100px;
    align-items: center;
    font-size: 1rem;
    gap: 15px;
    
}

#Tilaa {
    color: rgb(14, 14, 78);
    background-color: #fff;
    line-height: 36px; 
    border: 0 solid;
    border-radius: 9999px;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    height: 36px;
    min-width: 65px;
}

#Valikko {
    border-style: solid;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 6px;
    border-width: 1.1px;
    border-color: white;
    color: #fff;
    height: 30px;
    display: flex;
    justify-content: center;
    margin-right: 100px;
    align-items: center;
    font-size: 1.1rem;
    gap: 15px;
}