.News {
    display: grid;
    background-color: rgb(255, 255, 255);
    min-height: 600px;
    width: 650px;
    padding-top: 10px;
    
}

.News span{
    padding-inline-start: 20px;
    text-indent: 5px;
    color: black;
}

.News img {
    inline-size: 90%;
    justify-self: center;
    
}